@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --color-black: #222222;
  --color-white: #fefefe;
  --color-primary: #69306d;
  --color-black-light: #261e2c;
  --color-secondary: #0386a7;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-white);
}
